.dropdown-container {
    position: relative;
    width: 100%;
}

.title-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: color 0.2s ease-out;
}

.disabled-dropdown {
    display: none;
}

.enabled-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: #1C1D1F !important;
    border: 1px solid #212325;
    width: 100%;
    min-width: 200px;
    height: 100px;
    overflow: scroll;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #666A70;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}



.input-label {
    font-family: oswald;
    font-weight: 300;
    font-size: 1rem;
    transition: color 0.2s ease-out;
}

.input-label-enabled {
    color: #ffffff !important;
}

.input-label-disabled {
    color: #666A70 !important;
}

.input-label-dropdown {
    color: white;
    font-family: oswald;
    font-weight: 300;
    font-size: 1rem;
    transition: color 0.2s ease-out;
}

.title-arrow:hover .arrow-icon,
.title-arrow:hover .input-label {
    color: #F52B00 !important;
}

.input-label-dropdown:hover {
    color: #F52B00 !important;
}

.arrow-icon {
    color: #ffffff;
}