.container-avaliacao-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #FFBD33, #FF5733) border-box;
    border-radius: 5px;
    border: 1px solid transparent;
    width: 70%;
    gap: 0.5rem;
}

.foto-usuario-avaliacao-card {
    width: 20%;
    border-radius: 50%;
}

.titulo-avaliacao-card {
    font-size: var(--h3-font-size);
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: var(--h3-font-weight);
    line-height: normal;
    letter-spacing: -0.03rem;
}

.texto-avaliacao-card {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: var(--descricao-font-size);
    font-style: normal;
    font-weight: var(--descricao-font-weight);
    line-height: normal;
    letter-spacing: -0.0175rem;
}
.rating_number{
    font-family: Inter;
    background: linear-gradient(90deg, #FFBD33 0%, #FF5733 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
}