.input-label {
    color: #ffffff;
    font-family: oswald;
    font-weight: 300;
    font-size: 1rem;
}

.input {
    color: #ffffff;
    font-family: oswald;
    font-weight: 300;
    font-size: 1rem;
    border: 1px solid #212325;
    background-color: rgba(33, 35, 37, 0.3);
}