.input-label {
    color: #ffffff;
    font-family: oswald;
    font-weight: 300;
    font-size: 1rem;
}

.input {
    color: #ffffff;
    font-family: oswald;
    font-weight: 300;
    font-size: 1rem;
    background: #1C1D1F ;
    border: 1px solid #212325;
    border-radius: 5px;
}