.horizontal-direction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 200px;
    background: #1C1D1F !important;

    @media (max-width: 1365px) {
        width: 300px;
        height: 150px;
    }
}

.skin-card-container {
    border: 1px solid #212325;
    border-radius: 5px;
    background: rgba(33, 35, 37, 0.01);
    backdrop-filter: blur(5px);

    .image-container-horizontal {
        display: flex;
        flex-direction: column;
        align-items: center;

        .skin-image-horizontal {
            width: 170px;
            height: auto;
            position: relative;
        }
    }

    .image-container-horizontal::before {
        background-image: url('../../assets/skinCardBg.svg');
        content: ' ';
        position: absolute;
        width: 150px;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
    }


    .skin-infos {
        display: flex;
        flex-direction: column;
        align-items: center;

        .skin-name {
            color: white;
            font-family: oswald;
            font-weight: 300;
            font-size: 1rem;
        }

        .skin-pattern {
            color: #666A70;
            font-family: oswald;
            font-weight: 300;
            font-size: 0.875rem;
        }

        .skin-wear {
            color: #666A70;
            font-family: oswald;
            font-weight: 300;
            font-size: 0.75rem;
        }

        .skin-float {
            color: #F52B00;
            font-family: oswald;
            font-weight: 300;
            font-size: 0.625rem;
        }

    }
}

.skin-infos-horizontal {
    width: 50%;
}

.remove-item {
    width: 10%;
    height: 10%;
    color: white;
    transition: 0.2s ease-out;
}

.remove-item:hover {
    color: #F52B00;
}