.cta-button-home {
    background: none;
    border: solid 2px #F52B00;
    border-radius: 5px;
    position: relative;
    bottom: 10%;
    transition: border-color 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5vw;

    .cta-button-text {
        color: white;
        font-family: oswald;
        font-weight: 300;
        font-size: 2rem;
        position: relative;
        z-index: 1;

        @media (max-width: 1365px) {
            font-size: 1.7rem;
        }
    }
}

.cta-button-home::before {
    content: "";
    background-image: url("../../assets/topographyRedSmall.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.cta-button-home-disabled::before {
    opacity: 0.1 !important;
}
.cta-button-home-disabled:hover:before {
    opacity: 1 !important;
}

.cta-button-home:hover {
    border-color: #F52B00 !important;
}

.disabled-button {
    border: 2px solid #2e0901 !important;
}

.cta-button-home:hover:before {
    opacity: 1;
}