.container-infos-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icone-infos-check {
    color: #FF5733;
    width: 4%;
    height: auto;
}

.titulo-infos-check {
    font-size: clamp(1rem, 0.5146rem + 2.0712vw, 3rem);
    color: #FF5733;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}