.container-infos-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icone-infos-check {
    color: black;
    width: 3%;
    height: auto;
}

.titulo-infos-check {
    font-size: var(--descricao-font-size);
    color: black;
    font-family: Inter;
    font-style: normal;
    font-weight: var(--descricao-font-weight);
    line-height: normal;
}