.skins-filters-container {
    grid-area: filter;
    width: 85%;
    max-height: 390px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    @media (max-width: 768px) {
       width: 95%;
       height: 250px;
    }
}

.button-toggle-filters{
    position: absolute;
    background: #1C1D1F !important;
    border: 1px solid #212325;
    width: 10%;
    height: 2%;
    z-index: 1;
    border-radius: 5px;
    bottom: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
                    
.filters-mobile-disbled{
    display: none;
}
.filters-mobile-enabled{
    position: absolute;
    left: 10%;
    bottom: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    width: 50vw;
    background: #1C1D1F !important;
    border: 1px solid #212325;
}
.filter-icon{
    color: #ffffff;
    width: 100%;
    height: auto;
}

.close-icon-filters{
    color: #ffffff;
}