@keyframes firstLoad {
    0%{
        translate: -100%;
    }
    100%{
       translate: 0;
    }
}


.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.first_section-container-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.square-background-first_section-home{
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(250deg, #FFBD33 0%, #FF5733 100%);
    z-index: -1;
    padding-top: 55%;
}

.hero_image-first_section-home {
    border: solid 2px #FFFFFF;
    border-radius: 5px;
    width: 50%;
    align-self: center;
    animation: firstLoad 0.7s ease-out;
    /*animation name duration timing-function delay iteration-count irection fill-mode*/
}
.article-first_section-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    animation: firstLoad 1s ease-out;
}

.title-first_section-home {
    color: black;
    font-family: inter;
    font-size: var(--h1-font-size);
    font-style: normal;
    font-weight: var(--h1-font-weight);
    line-height: normal;
    letter-spacing: -0.0225rem;
    text-align: center;
    width: 95%;
}

.description-first_section-home {
    color: #000;
    font-family: Inter;
    font-size: var(--descricao-font-size);
    font-style: normal;
    font-weight: var(--descricao-font-weight);
    line-height: normal;
    text-align: center;
    width: 95%;
}

.cta-button-home {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #FFBD33, #FF5733) border-box;
    border-radius: 5px;
    border: 1px solid transparent;
    width: 20%;
    margin: 1rem 0;
}

.cta-label-home {
    font-family: inter;
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    background: linear-gradient(90deg, #FFBD33 0%, #FF5733 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto auto;
}

.hook_title-first_section-home {
    color: #000;
    font-family: inter;
    font-size: var(--h3-font-size);
    font-style: normal;
    font-weight: var(--h3-font-weight);
    line-height: normal;
    letter-spacing: -0.0225rem;
    text-align: center;
}

.hook_title-first_section-home::after {
    color: var(--color-laranja-500);
    font-weight: 600;
    content: " loja";
}

.variedade-cards-container-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.variedade-container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
}

.variedade-texto-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.variedade-titulo-home {
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: var(--h2-font-size);
    font-style: normal;
    font-weight: var(--h2-font-weight);
    line-height: normal;
    letter-spacing: -0.03rem;
}

.variedade-descricao-home {
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: var(--descricao-font-size);
    font-style: normal;
    font-weight: var(--descricao-font-weight);
    line-height: normal;
}

.variedade-ofertas-cadastradas-home {
    color: black;
    font-family: Inter;
    font-size: var(--h3-font-size);
    font-style: normal;
    font-weight: var(--h3-font-weight);
    line-height: normal;
}

.infos-check-container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.grid-skins-lista-home {
    list-style: none;
}

.grid-skins-container-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    width: 80%;
}

.grid-skins-imagem-home {
    width: 100%;
    background-color: white;
    border: solid 1px;
    border-color: var(--color-neutral-200);
    border-radius: 5px;
}

.avaliacoes-container-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

.icone-seta-home {
    width: 15%;
    height: auto;
    border: solid 1px;
    border-color: var(--color-neutral-200);
    border-radius: 5px;
    color: var(--color-laranja-500);
    margin: 0 auto;
}

.final-continer-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    justify-content: space-around;
}

.texto-descricao-final-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-final-home {
    font-size: var(--h2-font-size);
    color: #000;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: var(--h2-font-weight);
    line-height: normal;
    letter-spacing: -0.0225rem;
}

.descricao-final-home {
    font-size: var(--descricao-font-size);
    width: 50%;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: var(--descricao-font-weight);
    line-height: normal;
}

.botao-final-home {
    border: solid 1px;
    border-color: var(--color-neutral-200);
    border-radius: 5px;
    background: none;
    width: 25%;
}

.label-botao-final-home {
    font-size: var(--h3-font-size);
    color: var(--color-laranja-500);
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: var(--h3-font-weight);
    line-height: normal;
}

@media (min-width: 1366px) {
    .bem-vindo-container-home {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    .bem-vindo-titulo-home {
        text-align: left;
        width: 90%;
        white-space: nowrap;
    }

    .bem-vindo-descricao-home {
        text-align: left;
    }

    .h2-final-home {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .imagem-container-home {
        width: 70%;
        justify-self: flex-end;
    }

    .variedade-tela-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    .grid-skins-container-home {
        width: 30%
    }
}