.containerHomeScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.listaHomeScreen{
    list-style: none;
}
.imagemHomeScreen{
    border-radius: 1.25rem;
    width: 95%;
    max-height: 400px;
    object-fit: cover;
    margin: 2rem;
}
.ofertasHomeScreen{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.cardSkinHomeScreen{
    display: flex;
    flex-direction: row;
    width: 90%;
    overflow: hidden;
}
.verMaisHomeScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 10%;
}
.iconeVerMaisHomeScreen{
    width: 100px;
    height: 100px;
}
.textoVerMaisHomeScreen{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
.ofertasTituloHomeScreen{
    display: flex;
    align-items: flex-start;
    width: 95%;
}
.tituloOfertasHomeScreen{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 2.0rem;
}
.linkHomeScreen{
    text-decoration: none;
    color: black;
}
