.containerHomeScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listaHomeScreen{
    list-style: none;
}
.imagemHomeScreen{
    border-radius: 1.25rem;
    width: 60%;
}
.ofertasHomeScreen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}