.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 90vh;
}

.titulo-descricao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.titulo-home {
    color: #000;
    font-family: Exo;
    font-size: clamp(1.5rem, 0.7905rem + 3.0272vw, 3.375rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.0225rem;
    text-align: center;
}

.titulo-home::after {
    color: #B97D24;
    content: " loja de skins";
}

.descricao-home {
    color: #000;
    font-family: Inter;
    font-size: clamp(1rem, 0.8108rem + 0.8073vw, 1.5rem);
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-align: center;
    width: 90%;
}

.lista-skins-home {
    list-style: none;
}

.lista-skins-home:nth-of-type(1n+5) {
    display: none;
}

.lista-infos-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-ofertas-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.lista-container-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    column-gap: 1rem;
    align-items: center;
}

.logo-lista-home {
    position: absolute;
    opacity: 0.06;
    width: 80%;
}

.imagem-skin-home {
    width: 100%;
}

.nome-skin-lista-home {
    border-radius: 2px;
    background: #000;
    width: 100%;
    color: #FFF;
    font-family: Inter;
    font-size: clamp(1rem, 0.8108rem + 0.8073vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.ofertas-cadastradas-home {
    color: #B97D24;
    font-family: Inter;
    font-size: clamp(1.5rem, 1.1216rem + 1.6145vw, 2.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0.2rem;
}

.ofertas-cadastradas-home::after {
    content: " Ofertas cadastradas";
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.botao-container-home {
    width: 95%;
}

.botao-ofertas-home {
    background-color: #B97D24;
    border: #B97D24;
    border-radius: 5px;
    width: 100%;
}

.botao-texto-home {
    color: #F6FBFF;
    font-family: Inter;
    font-size: clamp(1.5rem, 1.1216rem + 1.6145vw, 2.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.botao-ofertas1366-home {
    display: none;
    background-color: #B97D24;
    border: #B97D24;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .lista-container-home {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .logo-lista-home {
        width: 55%;
    }

    .lista-skins-home:nth-of-type(n) {
        display: block;
    }
}

@media (min-width: 1366px) {
    .container-home {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    .titulo-descricao-container {
        align-items: center;
    }

    .titulo-home {
        max-height: 72px;
        white-space: nowrap;

    }

    .descricao-home {
        max-width: 790px;
    }

    .lista-ofertas-home {
        align-items: center;
    }

    .lista-container-home {
        width: 90%;
    }

    .logo-lista-home {
        width: 100%;
    }

    .botao-container-home {
        display: none;
    }

    .botao-ofertas1366-home {
        display: block;
        width: 20%;
        margin-top: 3rem;
    }
}