.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    min-height:  15vh;
    width: 100%;
}


.sidebar-logo-container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
}
.logo-container-header{
    width: 70%;
}
.logo-header{
    width: 100%;
}

.pesquisa-carrinho-container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
}
.pesquisa-container-header{
    width: 50%;
}
.botao-pesquisa-header{
    width: 100%;
}
.lupa-pesquisa-header{
    width: 100%;
    height: auto;
}

.carrinho-container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}
.carrinho-logo-header{
    width: 100%;
    height: auto;
}
.quantidade-carrinho-header{
    font-weight: bold;
    font-size: 1rem;
}

  @media (min-width: 480px) {
  }
  
  @media (min-width: 768px) {
  }
  
  @media (min-width: 1024px) {

  }
  
  @media (min-width: 1200px) {
  }

  @media (min-width: 1920px) {
  }

  @media (min-width: 2560px) {
  }
 