.containerHeader{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 100px;
}
.logoTituloHeader{
max-width: 100px;
}
.logoHeader{
    padding-left: 0.5rem;
    width: 30%;
    min-width: 200px;
}
.tituloHeader{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    max-width: 20px;
}
.barraPesquisa{
}
.inputPesquisar{
    background: white;
    border: none;
}
.botaoPesquisar{
    background: white;
    border: none;
}
.lupaLogo{
}
.carrinhoCompras{
    color: white;
}
.barraCarrinho{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.quantidadeCarrinho{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
