.containerHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 150px;
}
.sideBarELogoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
}
.logoContainerHeader{
    width: 100%;
}
.logoHeader{
    width: 100%;
    max-width: 100px;
}
.barraPesquisaContainerHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
}
.inputPesquisaHeader{
    border: none;
    outline: none;
    border-bottom: solid 1px;
    background-color: aqua;
}
.botaoPesquisaHeader{
    border: none;
    background: none;
}
.lupaPesquisaHeader{
    width: 100%;
    min-height: 25px;
}
.pesquisaECarrinhoContainerHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.barraCarrinhoContainerHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.quantidadeCarrinhoHeader{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 0.2rem;
}
.carrinhoComprasHeader{
    width: 100%;
}

  @media (min-width: 480px) {
  }
  
  @media (min-width: 768px) {
  }
  
  @media (min-width: 1024px) {

  }
  
  @media (min-width: 1200px) {
  }

  @media (min-width: 1920px) {
  }

  @media (min-width: 2560px) {
  }
 