.menu-container {
    width: 30%;
    height: 100%;
    border: 1px solid #212325;
    border-radius: 5px;
    background: rgba(33, 35, 37, 0.01);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: all 0.3s ease-out;
    padding: 2vw;

    @media (max-width: 1365px) {
        width: 45%;
    }
    @media (max-width: 767px) {
        width: 100%;
    }

    .close-menu {
        width: 10%;
        height: 10%;
        color: white;
        transition: 0.2s ease-out;
    }
    .cart-type{
        align-self: flex-start;
    }
    .menu-type{
        align-self: flex-end;
    }

    .list-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 20%;
        margin: auto 0;
        justify-content: space-evenly;        

        .list-nav-items {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            .nav-icon {
                width: 80%;
                transition: color 0.2s ease-out;
            }

            .nav-name {
                font-family: oswald;
                font-weight: 300;
                font-size: 1rem;
                white-space: nowrap;
                transition: color 0.2s ease-out;
            }

            .enabled-color{
                color: #ffffff;
            }
            .disabled-color{
                color: #666A70;
            }
        }

        .list-nav-items:hover .nav-name,
        .list-nav-items:hover .nav-icon {
            color: #F52B00;
        }
    }

    .close-menu:hover {
        color: #F52B00;
    }
}

.transition-side_menu {
    translate: 0;
}

.side-left{
    left: 0;
}
.side-right{
    right: 0;
}

.hide-left-side_menu{
    translate: -100%;
}
.hide-right-side_menu{
    translate: 100%;
}

.list-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 50%;
    overflow-y: scroll;
}
.buy-button{
    bottom: 0 !important;
    margin-top: 1rem;
}