.menu-container {
    width: 20%;
    height: 100%;
    border: 1px solid #212325;
    border-radius: 5px;
    background: rgba(33, 35, 37, 0.01);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease-out;
    translate: -100%;
    padding: 2vw;

    .close-menu {
        width: 10%;
        height: 10%;
        color: white;
        transition: 0.2s ease-out;
        align-self: flex-start;

    }

    .close-menu:hover {
        color: #F52B00;
    }
}

.transition-side_menu {
    translate: 0;
}