.containerNavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.linkNavBar{
    border: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    text-decoration: none;
}