.containerNavBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
}
.linkNavBar{
    border: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
}
.sideMenuNavBar{
    width: 100%;
    min-height: 45px;
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) {
}

@media (min-width: 1920px) {
}

@media (min-width: 2560px) {
}