.check-box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    width: 50%;

    .check-box {
        border: 1px solid #212325;
        background-color: rgba(33, 35, 37, 0.3);
        width: 30px;
        height: 30px;
    }

}

.enabled-checkBox {
    background: url(/src/assets/skinCardBg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}