.side-menu-container{
    width: 100%;
}
.botao-sidemenu{
    width: 100%;
}
.icone-side-menu{
    width: 100%;
    height: auto;
}
.h1-sidebar{
    font-weight: bold;
    font-size: clamp(1.3rem, 5vw, 2.3rem);
}
.botao-fechar-sidemenu{
    background: none;
    border: none;
}
.botao-fechar-sidemenu{
    width: 15%;
}
.icone-fechar-sidemenu{
    width: 100%;
    height: auto;
}