.vertical-direction{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 200px;
    min-height: 300px;
    justify-content: space-evenly;
}

.skin-card-container {
    border: 1px solid #212325;
    border-radius: 5px;
    background: rgba(33, 35, 37, 0.01);
    backdrop-filter: blur(5px);

    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .skin-image {
            width: 90%;
            height: auto;
            position: relative;
        }
    }

    .image-container::before {
        background-image: url('../../assets/skinCardBg.svg');
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }


    .skin-infos {
        display: flex;
        flex-direction: column;
        align-items: center;

        .skin-name {
            color: white;
            font-family: oswald;
            font-weight: 300;
            font-size: 1rem;
        }

        .skin-pattern {
            color: #666A70;
            font-family: oswald;
            font-weight: 300;
            font-size: 0.875rem;
        }

        .skin-wear {
            color: #666A70;
            font-family: oswald;
            font-weight: 300;
            font-size: 0.75rem;
        }

        .skin-float {
            color: #F52B00;
            font-family: oswald;
            font-weight: 300;
            font-size: 0.625rem;
        }

        .add_cart-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 100%;

            .skin-price {
                color: #ffffff;
                font-family: oswald;
                font-weight: 300;
                font-size: 0.875rem;
            }

            .add_cart-icon{
                color: #ffffff;
                width: 30px;
                height: auto;
                transition: color 0.2s ease-out;
            }

            .add_cart-icon:hover{
                color: #F52B00;
            }
        }


    }
}