.page-number-list {
    grid-area: pagesCount;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.6vw;
    justify-content: center;
    align-items: flex-end;
    height: 90%;
    padding: 1rem;
    
    @media (max-width: 768px) {
        grid-column-start: 1;
    }

    .page-list-items {

        .page-button {
            width: 70px;
            height: 80px;
        }
    }
}