.card-containar-bullet{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-images-container-bullet {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.imagem-card-bullet {
    width: 40%;
}

.circulo-icone-card-bullet {
    position: absolute;
    border: solid 1px;
    border-color: #D2D3D6;
    border-radius: 50%;
    width: 35%;
    bottom: -30%;
    left: 33%;
}

.circulo-icone-card-bullet::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.titulo-container-bullet{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0.8rem;
}
.card-info-bullet {
    font-size: clamp(0.5rem, 0.1359rem + 1.5534vw, 2rem);
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01rem;
}