.sales-container {
    display: grid;
    grid-template-areas:
        "filter categories categories categories null2"
        "filter skinsList skinsList skinsList null2"
        "null skinsList skinsList skinsList null2"
        "null pagesCount pagesCount pagesCount null2";
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    min-height: 90vh;

    .skins-filters-container {
        grid-area: filter;
        width: 85%;
        justify-self: center;
        display: flex;
        flex-direction: column;
    }

    .skins-categories-container {
        grid-area: categories;
        height: 50%;
        width: 100%;
        justify-self: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        z-index: 1;

        .create-sale-button {
            color: white;
            background: none;
            border: none;
            font-family: oswald;
            font-weight: 300;
            font-size: 1rem;
            transition: color 0.2s ease-out;
        }

        .create-sale-button:hover {
            color: #F52B00;
        }
    }

    .skins-list-container {
        grid-area: skinsList;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .skins-list-item {
            width: 100%;
            flex: 0 0 calc(14% - 10px);
        }
    }

    .create-sale-container {
        width: 30%;
        height: 70%;
        position: absolute;
        align-self: center;
        justify-self: center;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        .close-create-sale {
            width: 10%;
            height: 10%;
            color: white;
            transition: 0.2s ease-out;
            align-self: flex-start;
        }

        .create-sale-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 60%;
        }

        .close-create-sale:hover {
            color: #F52B00;
        }
    }
}

.cta-button-text {
    color: white;
    font-family: oswald;
    font-weight: 300;
    font-size: 2rem;
    position: relative;
    z-index: 1;
}

.page-number-list {
    grid-area: pagesCount;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    justify-content: center;

    .page-list-items {
        width: 5%;

        .page-button {
            width: 70px;
            height: 80px;
        }
    }
}

.skeleton-load-container {
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    .skeleton-load-image {
        width: 140px;
        height: 120px;
        border-radius: 5px;
        animation: skeletonLoad 2s linear infinite alternate;
    }

    .skeleton-load-text {
        width: 120px;
        height: 20px;
        animation: skeletonLoad 2s linear infinite alternate;
    }

}

@keyframes skeletonLoad {

    0% {
        background-color: hsl(210, 6%, 14%);
    }

    100% {
        background-color: hsl(210, 6%, 24%);    }
}