.sales-container {
    display: grid;
    grid-template-areas:
        "filter categories categories categories null2"
        "filter skinsList skinsList skinsList null2"
        "null skinsList skinsList skinsList null2"
        "null pagesCount pagesCount pagesCount null2";
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    min-height: 90vh;

    .skins-list-container {
        grid-area: skinsList;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;


        @media (max-width: 768px) {
            grid-column-start: 1;
        }



        .skins-list-item {
            width: 14%;

            @media (max-width: 768px) {
                width: 100%;
            }

            @media (min-width: 768px) and (max-width: 1365px) {
                width: 33%;
            }

        }
    }
}

.cta-button-text {
    color: white;
    font-family: oswald;
    font-weight: 300;
    font-size: 2rem;
    position: relative;
    z-index: 1;
}

.skeleton-load-container {
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    .skeleton-load-image {
        width: 140px;
        height: 120px;
        border-radius: 5px;
        animation: skeletonLoad 2s linear infinite alternate;
    }

    .skeleton-load-text {
        width: 120px;
        height: 20px;
        animation: skeletonLoad 2s linear infinite alternate;
    }

}

.enabled-weapon {
    color: #F52B00 !important;
}

.disabled-weapon {
    color: #ffffff !important;
}

@keyframes skeletonLoad {

    0% {
        background-color: hsl(210, 6%, 14%);
    }

    100% {
        background-color: hsl(210, 6%, 24%);
    }
}