.sales-container {
    display: grid;
    grid-template-areas:
        "filter categories categories categories null2"
        "filter skinsList skinsList skinsList null2"
        "null skinsList skinsList skinsList null2"
        "null pagesCount pagesCount pagesCount null2";
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    min-height: 90vh;
    position: relative;

    @media (max-width: 1365px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .cta-button-text {
        color: white;
        font-family: oswald;
        font-weight: 300;
        font-size: 2rem;
        position: relative;
        z-index: 1;
    }

    .enabled-weapon {
        color: #F52B00 !important;
    }

    .disabled-weapon {
        color: #ffffff !important;
    }
}