.containerSkinCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d3d3d3;
    border-bottom: solid;
    border-width: 1;
    width: 80%;
    max-width: 300px;
    min-height: 550px;
    border-radius: 4px;
}
.fotoSkinCard{
    width: 50%;
    min-width: 200px;
}
.nomeSkinCard{
    text-align: center;
}
.linkSkinCard{
    text-decoration: none;
    color: black;
}